In [ ]:
#Q1(i)
variable1='assignment1'
#Q1(ii)
variable2= ["assignment",1,1.00,True]
#Q1(iii)
variable3= 3.14159265359
#Q1(iv)
variable4=("assignment",1,1.00,True)

In [2]:
#Q2(i)
var1=' '
type(var1)

str

In [4]:
#Q2(ii)
var2= '[ DS , ML , Python]'
type(var2)

str

In [5]:
#Q2(iii)
var3=['DS' , 'ML' , 'Python']
type(var3)

list

In [6]:
#Q3(iv)
var4=1
type(var4)

int

In [ ]:
#Q3(i)
/ is used in python for performing the mathematical division which gives quotient as the result when first 
number is divided by the second number.
#Q3(ii)
% operator in python is called as modulus operator and gives out the remainder as the result when first 
number is divided by the second number.
#Q3(iii)
// is used in python for performing the floor division where // operator divides the first
number by the second number and rounds the result down to the nearest integer. 
#Q3(iv)
** is used in python for performing the exponential operation, second number is raised to the power of the first number 
and henceforth the result is obtained.

In [7]:
#Q4
ques_list = [1 , 2 , 3.00 , 4.00 , "five" , "six" , 7.00 , 8.00 , True , False ]
for i in ques_list:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3.0
<class 'float'>
4.0
<class 'float'>
five
<class 'str'>
six
<class 'str'>
7.0
<class 'float'>
8.0
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>

In [1]:
#Q5
def count_divisions(a, b):
    count = 0
    
    while a % b == 0:
        a = a // b
        count += 1
    
    return count


# Example usage
number_A = 100
number_B = 5

divisions = count_divisions(number_A, number_B)

if divisions > 0:
    print(f"{number_A} is divisible by {number_B} and can be divided {divisions} times.")
else:
    print(f"{number_A} is not divisible by {number_B}.")

In [9]:
number_1=100
number_2=50
Number_of_times_divsion_is_possible= count_divisions(number_1,number_2)

In [6]:
#Q6
ques6_list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in ques6_list :
    if i%3==0:
        print(i)
        print("divisible by 3")
    elif i%3 != 0:
        print(i)
        print("not divisible by 3")
    else:
        print("error")
i=i+1

1
not divisible by 3
2
not divisible by 3
3
divisible by 3
4
not divisible by 3
5
not divisible by 3
6
divisible by 3
7
not divisible by 3
8
not divisible by 3
9
divisible by 3
10
not divisible by 3
11
not divisible by 3
12
divisible by 3
13
not divisible by 3
14
not divisible by 3
15
divisible by 3
16
not divisible by 3
17
not divisible by 3
18
divisible by 3
19
not divisible by 3
20
not divisible by 3
21
divisible by 3
22
not divisible by 3
23
not divisible by 3
24
divisible by 3
25
not divisible by 3

In [ ]:
#Q7
In immutable data types, we can't change the data inserted as different values of data types after creatting it and in contrary 
in mutable data types we can change the data inserted as different values of data types after creating it.
Or it can be  said that whether you’re able to change an object’s state or contained data is what defines if 
that object is mutable or immutable.

Examples of mutable data type is 'LIST' and example of immutable data type is 'STRING'.

In [4]:
#example1
list = [1,2,2,2,2,4,4,4]
list[1]=7
list

[1, 7, 2, 2, 2, 4, 4, 4]

In [5]:
#example2
string="immutation"
string[1]=g
string

NameError: name 'g' is not defined

In [ ]:
so, by the above both exampples it can be proved that lists are mutable and strings are immutable.